langchain
langchain_community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langgraph
pageindex
pypdf
requests
deepagents
ipykernel
tavily-python
streamlit
langchain-huggingface
langchain-text-splitters
unstructured
youtube-transcript-api
validators